
<div class="container">
<footer class="footer">
<small>
Copyright © <a href="http://www.ckwe.co.uk">Christ Kingdom World Evangelism</a>
by <a href="http://www.ckwe.org">Rev Richard Jatto</a>
</small>
<nav>
<ul>
<li><%= link_to "About", '#' %></li>
    <li><%= link_to "Contact", '#' %></li>
    <li><%= link_to "Donation", '#' %></li>
</ul>
</nav>
</footer>
</div>